name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    uses: http://192.168.31.112:3000/actions/reusable-workflows/src/branch/v1/.github/workflows/plugin-ci.yaml
    with:
      skip-node-setup: true
